---
import Image from "astro/components/Image.astro";
import type {ImageMetadata} from "astro";

interface Props {
    imagePath:ImageMetadata;
    title:string;
    description:string;
    backgroundColor?:string[];
}

const props: Props = Astro.props
---

<div class="photo-card">
    <Image src={props.imagePath} alt="" class="photo-area"/>
    <div class="description-area">
        <div class="card-title">{props.title}</div>
        <div>{props.description}</div>
    </div>
</div>

<style lang="scss">

    .photo-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 392px;
        flex: 1;
        
        .photo-area{
            width: 100%;
            max-height: 249px;
            flex: 1;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .description-area {
            padding: 20px 30px;
            min-height: 182px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background: linear-gradient(to right, #002D5E, #004298);
            color: #ffffff;

            .card-title{
                @include typography-pc-subtitle;
                color: #ffffff;
                padding-bottom: 20px;
            }
        }
    }
    @include max("tab"){
        .photo-card {
            .description-area {
                min-height: 128px;
            }
        }
    }

</style>