---
---

<div class="nav-container">
    <div class="nav-links">
        <ul class='link-ul'>
            <li><a href="#mission">ミッション</a></li>
            <li><a href="#service">サービス</a></li>
            <li><a href="#advantage">ゼネラルの強み</a></li>
            <li><a href="#roadmap">ロードマップ</a></li>
            <li><a href="#news">ニュース</a></li>
            <li><a href="#member">ゼネラルについて</a></li>
        </ul>
    </div>
</div>

<style lang="scss">
    .nav-links {
        padding-inline: 50px;
        
        > .link-ul{
            display: flex;
            gap: 40px;
            justify-content: flex-end;

            > li{
                list-style: none;
                font-size: 14px;
                color: $text-blue;
                font-weight: 600;
            }
        }
    }

    @include max("tab"){
        .nav-links{
            background-color: #F1F3F3;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            .link-ul{
                justify-content: center;
                align-items: center;
                padding: 30px 0;
                flex-direction: column;
            }
        }
    }
</style>