---
---

<div class="nav-links">
    <ul class='link-ul'>
        <li><a href="">ミッション</a></li>
        <li><a href="">サービス</a></li>
        <li><a href="">ゼネラルの強み</a></li>
        <li><a href="">ロードマップ</a></li>
        <li><a href="">ニュース</a></li>
        <li><a href="">ゼネラルについて</a></li>
    </ul>
    
    
</div>

<style lang="scss">
    .nav-links {;
        
    > .link-ul{
        display: flex;
        gap: 10px;
        justify-content: flex-end;

        > li{
            list-style: none;
        }
    }
    }
</style>