---

interface Props {
    heading:string;
};

const props: Props = Astro.props;
---

<h3>{props.heading}</h3>

<style lang="scss">
    h3 {
        @include typography-pc-title-h3;
    }

    @include max("tab"){
        h3{
            @include typography-sp-title-h3;
        }
    }
</style>