---
import ServiceImage from "@/assets/service/service-card.jpg";
import ServiceImageSP from "@/assets/service/service-card_sp.jpg";
import DCPartnerImage from "@/assets/service/dc_partner.png";
import DCPartnerImageSP from "@/assets/service/dc_partner_sp.png";
import Steps from "./_component/Steps.astro";
import Image from "astro/components/Image.astro";
import HeadingOne from "../parts/heading/HeadingOne.astro";
import LinkButton from "../parts/button/LinkButton.astro";
---

<div class="section-title">
  <HeadingOne heading="Service" sub="サービス" />
</div>
<Image src={ServiceImage} alt="" class="service-kv-pc" />
<Image src={ServiceImageSP} alt="" class="service-kv-sp" />
<div class="feature-content">
  <div class="service-description-title text-position">
    社内ルールを大きく変えることなくアウトソーシング。<br class="pc-none" />
    伴走型BPOで煩雑な給与計算業務から解放します。
  </div>
  <div class="service-explanation">
    細かな指示は不要。適法性の担保・社内への対応もすべてゼネラルにおまかせください。
  </div>
  <Steps />
</div>
<Image src={DCPartnerImage} alt="" class="service-kv-pc" />
<Image src={DCPartnerImageSP} alt="" class="service-kv-sp" />
<div class="feature-content">
  <div class="service-description-title text-position">
    企業型DCは、税制優遇を活かした資産づくりで<br class="pc-only" />
    従業員の将来不安を軽減し、<br class="pc-only" />
    定着率・採用力の向上に貢献する制度です。<br class="pc-only" />
  </div>
  <div class="service-explanation">
    ゼネラルが、制度設計から従業員への投資教育、運用代行までをワンストップで支援します。
  </div>
  <LinkButton
    text="企業型DC <span>（企業型確定拠出年金）</span>パートナープログラムについて ＞ "
    url="https://dc.general-bpo.com/company?utm_source=general&utm_medium=referral&utm_campaign=campaign202601"
  />
</div>
<style lang="scss">
  .service-kv-pc {
    width: 100%;
  }

  .service-kv-sp {
    display: none;
  }

  .service-image {
    margin: 50px 0;
  }

  .feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .service-description-title {
      @include typography-pc-subtitle;
      font-size: 40px;
      font-weight: 700;
      margin-top: 80px;
      padding-inline: 100px;

      &.text-position {
        text-align: center;
      }
    }

    .service-explanation {
      @include typography-pc-explanation;
      border-radius: 70px;
      background-color: #ffffff;
      margin: 60px 0;
      padding: 30px 56px;
    }
  }

  @include max("tab") {
    .pc-only {
      display: none;
    }

    .service-kv-pc {
      display: none;
    }

    .service-kv-sp {
      display: block;
      width: 100vw;
    }

    .feature-content {
      padding-inline: 40px;

      .service-description-title {
        padding-inline: 0;
        font-size: 20px;
        margin: 40px 0 0;

        &.text-position {
          text-align: left;
        }
      }
      .service-description {
        padding-inline: 0;
        margin: 32px 0 0;
      }

      .service-image {
        margin-block: 40px;
      }

      .service-explanation {
        padding: 20px 18px;
        border-radius: 16px;
        font-size: 16px;
        margin: 40px 0;
        color: #004691;
      }
    }
  }
</style>
