@use "./responsive.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

html {
  scroll-padding-top: 64px;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  width: 100%;
}

body {
  font-family: "Noto sans JP";
}

.tab-only {
  @include max("tab") {
    display: none;
  }
}

.pc-only {
  @include max("pc") {
    display: none;
  }
}

.pc-none {
  @include min("pc") {
    display: none;
  }
}

.section-title {
  @include max("tab") {
    padding-inline: 20px;
  }
}

.feature-content {
  @include max("tab") {
    padding-inline: 40px;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
