---
interface Props {
  text: string;
  url: string;
}

const { text, url } = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer">
  <div class="link-button" set:html={text} />
</a>

<style lang="scss">
  .link-button {
    display: inline-block;
    background-color: #004691;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0e6dd2;
    }
  }

  :global(.link-button span) {
    font-size: 0.8em;
  }
</style>
