---
import astroLogo from '../assets/astro.svg';
import Mission from './mission/Mission.astro';
import Service from './service/Service.astro';
import MainKeyVisual from '../assets/keyvisual/keyVisual.jpg';
---

<div id="container">
	<main>
		<div class="hero">
			<div class="hero-image"></div>			
		</div>
		<div class="main-content">
			<Mission/>
			<Service />
		</div>
	</main>

</div>

<style lang="scss">

	main {
		height: 100%;
	}

	.main-content{
		padding-inline: 63px;
		margin: 0 auto;
		max-width: 1240px;
	}

	.hero{
		position: relative;
		width: 100%;
		height: 770px;
		overflow: hidden;
	}

	.hero-image {
		background-image: url("../assets/keyvisual/keyVisual.jpg");
		background-size: cover;
		background-image: center;
		width: 100%;
		height: 100%;
	}


	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

</style>
