---
import Company from "./Company.astro"
---

<div class="about-company">
    <div class="title">ゼネラルについて</div>
    <div class="description">株式会社ゼネラルは人事労務分野において、アウトソーシング、コンサルティングで企業を支援する西日本最大級の社労士事務所「社会労務士法人サトー」が立ち上げた新会社です。</div>
</div>

<style lang="scss">
    .about-company{
        color: #ffffff;
        > .title{
            font-size: 20px;
            font-weight: 700;
        }
        > .description{
            margin: 32px 0 60px;
        }
    }

    @include max("tab"){
        .about-company {
            margin: 0 auto 40px;

            > .description {
                margin: 20px 0 0;
            }
        }
    }

</style>