---
---
<div class="copy-right">
    &copy;2024 General Inc.
</div>

<style lang="scss">
    .copy-right{
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding-block: 25px;
    }
</style>