$blue: #002d5e;
$text-blue: #001d41;
$light-blue: #004691;

@mixin typography-pc-title-h1 {
  font-size: 100px;
  font-weight: 900;
  line-height: 1;
  color: $text-blue;
}

@mixin typography-sp-title-h1 {
  font-size: 36px;
  font-weight: 700;
}

@mixin typography-pc-title-h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: $text-blue;
}

@mixin typography-pc-title-h3 {
  font-size: 26px;
  font-weight: 700;
  color: $text-blue;
}

@mixin typography-sp-title-h3 {
  font-size: 18px;
  font-weight: 700;
  color: $text-blue;
}

@mixin typography-pc-subtitle {
  font-size: 24px;
  font-weight: 700;
  color: $text-blue;
}

@mixin typography-pc-description {
  font-size: 16px;
  color: $text-blue;
}

@mixin typography-pc-explanation {
  font-size: 24px;
  color: $light-blue;
  font-weight: 700;
}

@mixin typography-sp-explanation {
  font-size: 16px;
  color: $light-blue;
  font-weight: 700;
}