
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>General</title>
	</head>
	<body>
		<!--
		<video autoplay loop playsinline muted class="video-background" src="/background.mp4"/>
		 -->
		<slot />
	</body>
</html>


<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}


 .video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* 背景に配置 */
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

</style>
